@import '/app/styles/space.scss';
@import '/app/styles/text.scss';
@import '/app/page.module.scss';

.projects-menu {
    display: grid;
    gap: $desktop-gap;
    grid-template-columns: 1fr 1fr;
    margin-top: $desktop-spacing;
    margin-bottom: $desktop-spacing;

    @media screen and (max-width: $mobile-max) {
        gap: $mobile-gap;
        grid-template-columns: 1fr;
        margin-top: $mobile-spacing;
        margin-bottom: $mobile-spacing;
    }

    a {
        display: block;
        position: relative;
        overflow: hidden;
        border-radius: 8px;

        .project-name {
            @include header-description-text;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: white !important;
            opacity: 0;
            transition: opacity 0.5s linear;
            padding: $mobile-gap;
        }

        img {
            animation: unblur 0.5s 1;
        }

        &:hover {
            .project-name {
                opacity: 1;
            }

            img {
                animation: blur 0.5s 1;
                filter: blur(1.5rem);
            }
        }
    }

    @keyframes blur {
        0% {
            filter: blur(0px);
        }

        100% {
            filter: blur(1.5rem);
        }
    }

    @keyframes unblur {
        0% {
            filter: blur(1.5rem);
        }

        100% {
            filter: blur(0px);
        }
    }
}