@import '/app/styles/space.scss';
@import '/app/styles/text.scss';
@import '/app/styles/pill.scss';
@import '/app/page.module.scss';

.projects-menu {
    display: grid;
    gap: $desktop-gap;
    grid-template-columns: 1fr 1fr;
    margin-top: $desktop-spacing;
    margin-bottom: $desktop-spacing;

    @media screen and (max-width: $tablet-max) {
        gap: $mobile-gap;
        grid-template-columns: 1fr;
        margin-top: $mobile-spacing;
        margin-bottom: $mobile-spacing;

        img {
            width: 100%;
        }
    }

    a {
        display: block;
        position: relative;
        overflow: hidden;
        border-radius: 8px;
        color: white !important;


        img {
            transition: transform 0.6s;
        }

        &:hover img {
            transform: scale(1.1);
        }

        .project-name {
            font-size: $text-large;
            font-weight: $text-weight-medium;
            margin-bottom: $x-small;
        }

        .text-container {
            position: absolute;
            bottom: 0;
            padding: 20px;
            width: 100%;
        }

        .project-service {
            @include pill-aligned-formatting;
            @include pill;
            border-color: white;
            color: white;
        }
    }
}