@tailwind base;
@tailwind components;
@tailwind utilities;

@import '/app/styles/text.scss';
@import '/app/styles/space.scss';
@import '/app/styles/color.scss';
@import '/app/styles/responsive.scss';

html {
  background: white;
  font-size: $base-font-size;

  // @media screen and (max-width: $mini-max) {
  //   font-size: $mini-font-size;
  // }
}

body,
p {
  @include body-text;

  @media screen and (max-width: $mini-max) {
    word-break: break-word;
  }
}

header {
  @include restricted-container;
  padding-top: $desktop-spacing;
}

main {
  @include restricted-container;
  padding-bottom: $desktop-spacing;

  .images-collection:last-child {
    margin-bottom: 0;
  }

  @media screen and (max-width: $mobile-max) {
    padding-bottom: $mobile-spacing;
  }
}

.highlighted-button {
  display: flex;
  align-items: center;
  padding: $small;
  width: fit-content;
  background: #1472D7;
  color: white;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-bottom: $small;

  svg {
    margin-left: $x-small;
  }
}

.ghostly-button {
  display: block;
  background: white;
  padding: $small;
  width: fit-content;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.blurb-collection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $desktop-gap;

  @media screen and (max-width: $mobile-max) {
    gap: $mobile-gap;

    &.mobile-break {
      grid-template-columns: 1fr;
    }
  }
}

.bare-images-collection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $desktop-gap;
  margin-bottom: $desktop-gap;

  @media screen and (max-width: $mobile-max) {
    grid-template-columns: 1fr;
    gap: $mobile-gap;
    margin-bottom: $mobile-gap;
  }

}

.bare-image {
  margin-bottom: $desktop-gap;
  max-width: 1248px;
  width: 100%;

  @media screen and (max-width: $mobile-max) {
    margin-bottom: $mobile-gap;
  }

  &.last {
    margin-bottom: 0;
  }
}

.full-vid {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  width: 100%;
  margin-bottom: $desktop-gap;

  @media screen and (max-width: $mobile-max) {
    margin-bottom: $mobile-gap;
  }
}

.intent-blurbs {
  margin-bottom: $desktop-spacing;

  @media screen and (max-width: $mobile-max) {
    margin-bottom: $mobile-gap; //
  }
}