@tailwind base;
@tailwind components;
@tailwind utilities;

$xxxx-small: 1px;
$xxx-small: 2px;
$xx-small: 4px;
$x-small: 8px;
$small: 12px;
$medium: 16px;
$large: 24px;
$x-large: 32px;
$xx-large: 40px;
$xxx-large: 48px;
$xxxx-large: 56px;
$huge: 64px;
$x-huge: 72px;
$xx-huge: 80px;
$xxx-huge: 88px;
$xxxx-huge: 96px;

$base-font-size: 62.5%; // using percentage here to change browser's base font-size from 16px to 10px, which is easier to think around
$font-unit: 1rem;
$text-xx-small: $font-unit;
$text-x-small: calc(1.2 * $font-unit); // 12px
$text-small: calc(1.6 * $font-unit); // 16px
$text-medium: calc(2 * $font-unit); // 20px
$text-large: calc(3 * $font-unit); // 30px
$text-x-large: calc(3.6 * $font-unit); // 36px
$text-xx-large: calc(4.8* $font-unit); // 48px

$font-family: 'Inter', sans-serif;

$text-weight-regular: 400;
$text-weight-medium: 500;
$text-weight-semi-bold: 600;
$text-weight-bold: 700;

$default-line-height: 1.2; // default line-height value for most browsers and most fonts

$deep-black: #191919;
$base-gray: #636363;
$mid-gray: #ccc;
$light-gray: #E8ECF1;

$desktop-spacing: $huge; // 64px
$mobile-spacing: $xx-large; // 40px

$desktop-gap: $xx-large; // 40px
$mobile-gap: $large; // 24px

$desktop-gutter: $xxxx-huge;
$mobile-gutter: $x-large;

$desktop-max: 1440px;
$desktop-min: 1025px;
$tablet-max: 1024px;
$tablet-min: 769px;
$mobile-max: 768px;

@mixin content-block {
  margin-top: $desktop-spacing;
  margin-bottom: $desktop-spacing;

  @media screen and (max-width: $tablet-max) {
    margin-top: $mobile-spacing;
    margin-bottom: $mobile-spacing;
  }
}

@mixin restricted-container {
  max-width: 1440px;
  padding-left: $desktop-gutter;
  padding-right: $desktop-gutter;
  margin: auto;

  @media screen and (max-width: $mobile-max) {
    padding-left: $mobile-gutter;
    padding-right: $mobile-gutter;
  }
}

@mixin pill {
  border: 1px solid $base-gray;
  border-radius: 10px;
}

.primary-title {
  font-family: $font-family;
  font-style: normal;
  font-size: $text-xx-large;
  font-weight: $text-weight-bold;
  line-height: $default-line-height;
  color: $deep-black;

  @media screen and (max-width: $mobile-max) {
    font-size: $text-x-large;
  }
}

.secondary-title {
  font-family: $font-family;
  font-style: normal;
  font-size: $text-x-large;
  font-weight: $text-weight-medium;
  line-height: $default-line-height;
  color: $deep-black;

  @media screen and (max-width: $mobile-max) {
    font-size: $text-large;
  }
}

html {
  background: white;
  font-size: $base-font-size;
}

body,
p {
  font-family: $font-family;
  font-style: normal;
  font-size: $text-small;
  font-weight: $text-weight-regular;
  color: $base-gray;
  line-height: 1.5;
}

header {
  @include restricted-container;
  padding-top: $desktop-spacing;
}

main {
  @include restricted-container;
  padding-bottom: $desktop-spacing;

  .images-collection:last-child {
    margin-bottom: 0;
  }

  @media screen and (max-width: $mobile-max) {
    padding-bottom: $mobile-spacing;
  }
}

.work-menu {
  ul {
    display: flex;
  }

  .main-link {
    display: inline-block;
    border: 1px solid $base-gray;
    border-radius: $small;
    padding: $x-small $small;

    &:not(:last-child) {
      margin-right: $small;
    }

    &.not-work {
      background: $deep-black;
      color: white;
    }
  }
}

.projects-menu {
  display: grid;
  gap: $desktop-gap;
  grid-template-columns: 1fr 1fr;

  @media screen and (max-width: $mobile-max) {
    gap: $mobile-gap;
    grid-template-columns: 1fr;
  }
}

//  project pages
.page-heading-container {
  display: flex;
  justify-content: space-between;
}

.images-collection {
  margin-bottom: $desktop-gap;

  @media screen and (max-width: $mobile-max) {
    margin-bottom: $mobile-gap;
  }

  &.frames-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $desktop-gap;

    @media screen and (max-width: $mobile-max) {
      grid-template-columns: 1fr;
      gap: $mobile-gap;
    }
  }
}

.image-container {
  background: $light-gray;
  border-radius: 20px;
}

.image-description {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: $desktop-spacing;

  @media screen and (max-width: $mobile-max) {
    padding-bottom: $mobile-spacing;
  }
}

.project-info {
  @include content-block;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $medium;

  &.desktop {
    @media screen and (max-width: $tablet-max) {
      display: none;
    }
  }

  &.mobile {
    display: none;

    @media screen and (max-width: $tablet-max) {
      display: block;


    }
  }
}

.project-blurb-collection {
  p:not(:last-child) {
    margin-bottom: $mobile-gap;
  }

  @media screen and (max-width: $tablet-max) {
    margin-bottom: $mobile-spacing;
  }
}

$pill-height: calc(3 * $font-unit); // 30px with border (making width relative to text size so formatting is still correct if use changes their font-size)

@mixin pill-aligned-formatting {
  display: inline-flex;
  align-items: center;
  height: $pill-height;
}

.inventory {
  display: flex;

  &:not(:last-child) {
    margin-bottom: $medium;
  }

  .inventory-label {
    // same on mobile and desktop
    @include pill-aligned-formatting;
    font-size: $text-medium;
    font-weight: $text-weight-regular;
    color: $base-gray;
    min-width: calc(11.5 * $font-unit); // 115px (making width relative to text size so formatting is still correct if use changes their font-size)
  }

  .inventory-content {
    .pill {
      // same on mobile and desktop
      @include pill-aligned-formatting;
      @include pill;
      font-size: $text-xx-small;
      font-weight: $text-weight-semi-bold;
      color: $base-gray;
      padding-left: $x-small;
      padding-right: $x-small;
      margin-right: $x-small;
      margin-bottom: $x-small;
    }

    .date {
      // same on mobile and desktop
      @include pill-aligned-formatting;
      font-size: $text-small;
      font-weight: $text-weight-regular;
      color: $base-gray;
    }
  }
}

.head-blurb {
  @include content-block;
  display: grid;
  grid-template-columns: 1fr 2fr; // 2/6
  gap: $desktop-gap;

  @media screen and (max-width: $tablet-max) {
    grid-template-columns: 1fr 1fr; // 3/6
  }

  @media screen and (max-width: $mobile-max) {
    grid-template-columns: 1fr; // 6/6
    gap: $mobile-gap;
    margin-bottom: $mobile-gap;
  }

  .secondary-title {
    display: block;
  }

  .blurbs-container {
    p:not(:last-child) {
      margin-bottom: $mobile-gap;
    }
  }
}

.blurb-collection {
  @include content-block;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $xx-large;
}

.bare-images-collection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $desktop-gap;
  margin-bottom: $desktop-gap;

  @media screen and (max-width: $mobile-max) {
    grid-template-columns: 1fr;
    gap: $mobile-gap;
    margin-bottom: $mobile-gap;
  }

}

.bare-image {
  margin-bottom: $desktop-gap;

  @media screen and (max-width: $mobile-max) {
    margin-bottom: $mobile-gap;
  }
}

.footer-container {
  @include restricted-container;
  padding-top: $desktop-spacing;
  padding-bottom: $desktop-spacing;
  background: $mid-gray;

  @media screen and (max-width: $mobile-max) {
    padding-top: $mobile-spacing;
    padding-bottom: $mobile-spacing;

  }

  .footer {
    .footer-heading-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: $desktop-spacing;

      @media screen and (max-width: $mobile-max) {
        padding-bottom: $mobile-spacing;
      }

      .back-to-top {
        @include pill;
        display: inline-block;
        padding: $xx-small $x-small;
        height: fit-content;
        height: -moz-fit-content;
      }
    }
  }
}

// UTIL (At bottom so these styles can override other styles)
.tablet-min-up-only {
  display: none;

  @media screen and (min-width: $tablet-min) {
    display: block;
  }
}

.mobile-max-down-only {
  display: none;

  @media screen and (max-width: $mobile-max) {
    display: block;
  }

}