@import '/app/styles/text.scss';
@import '/app/styles/space.scss';
@import '/app/styles/color.scss';
@import '/app/styles/responsive.scss';

$dark: $deep-black;
$light: white;

@mixin header-description-text {
    @include primary-title;
    max-width: 1000px;
    color: $base-gray;

    @media screen and (max-width: $mobile-max) {
        @include secondary-title;
        color: $base-gray;
        font-weight: $text-weight-bold;
    }

    @media screen and (max-width: $mini-max) {
        font-size: $text-medium;
    }
}

.page-container {
    transition: background-color 1s ease;

    :global(.highlighted-button),
    :global(.ghostly-button) {

        &:hover {
            background-color: $dark;
            color: $light;
        }
    }

    &.is-not-work {
        background-color: $deep-black;

        :global(.primary-title),
        :global(.secondary-title) {
            color: $light;
        }

        :global(.highlighted-button),
        :global(.ghostly-button) {
            background-color: $light;
            color: $dark;
            border: 1px solid $light;

            &:hover {
                background-color: $dark;
                color: $light;

                svg path {
                    stroke: $light;
                }
            }

            svg path {
                stroke: $dark;
            }
        }

        .header-description {
            max-width: 1100px;
        }

        .connect-container {
            background-color: $dark-gray;
            padding: $desktop-gap;
        }

        .actions-menu a {
            background-color: rgba(54, 54, 54, 0.8);
            color: white;
            border: 1px solid transparent;

            .in-view {
                background-color: white;
                color: $dark;
            }
        }
    }
}

.home-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: $desktop-spacing;

    @media screen and (max-width: $mobile-max) {
        margin-bottom: $mobile-spacing;
    }
}

.actions-menu {
    display: flex;
    height: fit-content;

    @media screen and (max-width: $mobile-max) {
        position: fixed;
        z-index: 999;
        bottom: 0;
        left: 0;
        width: 100%;
        justify-content: center;
        margin-bottom: $mobile-spacing;
    }

    @media screen and (max-width: $mini-max) {
        display: none;
    }

    li {
        &:not(:last-child) {
            margin-right: $medium;
        }
    }

    a {
        min-width: 100px;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(10px);

        &.in-view {
            background-color: $dark;
            color: $light;
        }
    }
}

.header-description {
    @include header-description-text;

    @media screen and (min-width: $desktop-min) {
        min-height: 230px;

    }

}

.work-menu {
    margin-top: $desktop-spacing - 10px; // hanging character are real turds
    margin-bottom: $desktop-spacing;
}

.profile {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: $xx-huge;
    padding-top: $desktop-spacing; // splitting spacing between padding and margin so that "jump to link" lands comfortably above top of region
    padding-bottom: $desktop-spacing; // splitting spacing between padding and margin so that "jump to link" lands comfortably above top of region
    margin-top: $desktop-spacing;
    margin-bottom: $desktop-spacing;

    @media screen and (max-width: $mobile-max) {
        display: block;
        margin-top: $desktop-spacing;
        margin-bottom: $desktop-spacing;
    }

    :global(.secondary-title) {
        margin-bottom: $desktop-gap;
    }

    p {
        margin-top: $mobile-gap;

        @media screen and (max-width: $mobile-max) {
            &:first-of-type {
                margin-top: $mobile-spacing;
            }
        }
    }

    .profile-pic-desktop {
        height: 670px;
        max-width: unset;
        width: auto;

        @media screen and (max-width: $tablet-max) {
            height: unset;
            width: 30vw;
        }
    }

    :global(.inventory-collection) {
        margin-top: $desktop-gap;

        :global(.inventory) {
            flex-wrap: wrap;
        }

        :global(.inventory-label) {
            width: 100%;
            margin-bottom: $mobile-gap;
        }
    }
}

.connect-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $desktop-gap;
    margin-top: $desktop-gutter;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: $desktop-gap;

    @media screen and (max-width: $mobile-max) {
        display: block;
        margin-top: $mobile-gutter;
        padding: $mobile-gap;
    }

    :global(.secondary-title) {
        margin-bottom: $desktop-gap;

        @media screen and (max-width: $mobile-max) {
            margin-bottom: $mobile-gap;
        }
    }

    p {
        margin-bottom: $mobile-gap;
    }

    .get-in-touch-blurb {
        max-width: 400px;
    }
}

.back-to-top-container {
    @media screen and (max-width: $tablet-max) {
        display: none;
    }
}

.home-footer {
    @include restricted-container;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: $desktop-gutter ;

    @media screen and (max-width: $mobile-max) {
        display: block;

        p:not(:last-child) {
            margin-bottom: $mobile-gap;
        }
    }

    p a {
        text-decoration: underline;
    }
}