@import '/app/styles/text.scss';
@import '/app/styles/space.scss';
@import '/app/styles/color.scss';

$pill-height: calc(3 * $font-unit); // 30px with border (making width relative to text size so formatting is still correct if use changes their font-size)

@mixin pill-aligned-formatting {
    display: inline-flex;
    align-items: center;
    height: $pill-height;
}

@mixin pill {
    border: 1px solid $base-gray;
    border-radius: 10px;
}

.inventory {
    display: flex;

    @media screen and (max-width: $mini-max) {
        flex-direction: column;
    }

    &:not(:last-child) {
        margin-bottom: $medium;
    }

    .inventory-label {
        // same on mobile and desktop
        @include pill-aligned-formatting;
        font-size: $text-medium;
        font-weight: $text-weight-regular;
        color: $base-gray;
        min-width: calc(11.5 * $font-unit); // 115px (making width relative to text size so formatting is still correct if use changes their font-size)
    }

    .inventory-content {
        @media screen and (max-width: $mini-max) {
            margin-top: $x-small;
        }

        .pill {
            // same on mobile and desktop
            @include pill-aligned-formatting;
            @include pill;
            font-size: $text-xx-small;
            font-weight: $text-weight-semi-bold;
            color: $base-gray;
            padding-left: $x-small;
            padding-right: $x-small;
            margin-right: $x-small;
            margin-bottom: $x-small;
        }

        .date {
            // same on mobile and desktop
            @include pill-aligned-formatting;
            font-size: $text-small;
            font-weight: $text-weight-regular;
            color: $base-gray;
        }
    }
}