@import '/app/styles/text.scss';
@import '/app/styles/space.scss';
@import '/app/styles/color.scss';
@import '/app/styles/pill.scss';

.inventory {
    display: flex;

    @media screen and (max-width: $mini-max) {
        flex-direction: column;
    }

    &:not(:last-child) {
        margin-bottom: $medium;
    }

    .inventory-label {
        // same on mobile and desktop
        @include pill-aligned-formatting;
        font-size: $text-medium;
        font-weight: $text-weight-regular;
        color: $base-gray;
        min-width: calc(11.5 * $font-unit); // 115px (making width relative to text size so formatting is still correct if use changes their font-size)
    }

    .inventory-content {
        @media screen and (max-width: $mini-max) {
            margin-top: $x-small;
        }

        .pill {
            // same on mobile and desktop
            @include pill-aligned-formatting;
            @include pill;
        }

        .date {
            // same on mobile and desktop
            @include pill-aligned-formatting;
            font-size: $text-small;
            font-weight: $text-weight-regular;
            color: $base-gray;
        }
    }
}