@import '/app/styles/color.scss';

$color-1: white;
$color-2: $deep-black;
$radius: 55px;

.switch-container {
    overflow: hidden;
    position: relative;
    width: fit-content;
    background-color: $color-2;
    border: 1px solid $color-1;
    border-radius: $radius;
    transition: background-color 1s ease-in;

    &.is-work {
        background-color: $color-1;
        border: 1px solid $color-2;

        .highlight {
            left: 0px;
            right: unset;
            background-color: $color-2;
        }
    }

    .highlight {
        position: absolute;
        display: block;
        left: unset;
        right: 0;
        height: 100%;
        width: 50%;
        background-color: $color-1;
        border-radius: $radius;
        transition-property: left, right, background-color, width;
        transition-duration: 1s;
        transition-timing-function: ease;
    }

    .switch-button {
        z-index: 999;
        position: relative;
        min-width: 100px;
        padding: 5px;

        &.work-button {
            margin-right: 16px;
        }
    }

    .switch-button.work-button {
        color: $color-1;
    }

    .switch-button.not-work-button {
        color: $color-2;
    }


}