$toggle-background-color-on: rgb(221, 227, 199);
$toggle-background-color-off: rgb(221, 145, 145);
$toggle-control-color: rgb(17, 17, 17);
$toggle-width: 100px;
$toggle-height: 50px;
$toggle-gutter: 5px;
$toggle-radius: 50%;
$toggle-control-speed: 1s;
$toggle-control-ease: ease-in;

// These are our computed variables
// change at your own risk.
$toggle-radius: $toggle-height / 2;
$toggle-control-size: $toggle-height - ($toggle-gutter * 2);

.switch-container {
    overflow: hidden;
    position: relative;
    width: fit-content;
    background-color: black;
    border: 1px solid white;
    border-radius: 55px;
    transition: background-color $toggle-control-speed $toggle-control-ease;

    &.isWork {
        background-color: white;
        border: 1px solid black;

        .highlight {
            left: 0px;
            right: unset;
            background-color: black;
        }
    }

    .highlight {
        position: absolute;
        display: block;
        left: unset;
        right: 0;
        height: 100%;
        width: 50%;
        background-color: white;
        border-radius: 55px;
        transition-property: left, right, background-color, width;
        transition-duration: 1s;
        transition-timing-function: ease;
    }

    .switch-button {
        position: relative;
        min-width: 100px;
        z-index: 999;
        padding: $toggle-gutter;

        &.work-button {
            margin-right: 16px;
        }
    }

    .switch-button.work-button {
        color: white;
    }

    .switch-button.not-work-button {
        color: black;
    }


}